WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_VERIFY_TOKEN=meu_token_de_verificacao
WHATSAPP_GRAPH_API_VERSION=v21.0
WHATSAPP_TEST_RECIPIENT_PHONE=
BASE_PUBLIC_URL=

WHISPER_ENABLED=true
WHISPER_MODEL=tiny
WHISPER_LANGUAGE=pt
WHISPER_MAX_AUDIO_MB=50
WHISPER_MAX_AUDIO_SECONDS=1800
WHISPER_CHUNK_SECONDS=60

VISITA_DESCRICAO_MAX_CHARS=5000
VISITA_OBSERVACAO_MAX_CHARS=20000
VISITA_OBSERVACAO_TOTAL_MAX_CHARS=80000
FOTO_COMENTARIO_MAX_CHARS=2000
